../data/input/featuresProstitution.csv
../data/overlap/new_bars.csv,,,LATITUDE,LONGITUDE
../data/overlap/church.csv,,,"LAT","LONG"
../data/overlap/library.csv,,,LAT,LONG
../data/overlap/school.csv,,,Lat,Long
../data/overlap/police.csv,,,LATITUDE,LONGITUDE
../data/overlap/crime_new.csv,PROSTITUTION,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
