../data/input/featuresNew.csv
../data/overlap/new_bars.csv,,,LATITUDE,LONGITUDE
../data/overlap/church.csv,,,"LAT","LONG"
../data/overlap/library.csv,,,LAT,LONG
../data/overlap/school.csv,,,Lat,Long
../data/overlap/police.csv,,,LATITUDE,LONGITUDE
../data/overlap/crime_new.csv,ARSON,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime_new.csv,ASSAULT,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime_new.csv,SEX OFFENSE,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime_new.csv,HOMICIDE,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime_new.csv,OFFENSE INVOLVING CHILDREN,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime_new.csv,BURGLARY,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime_new.csv,HUMAN TRAFFICKING,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime_new.csv,MOTOR VEHICLE THEFT,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime_new.csv,NARCOTICS,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime_new.csv,PROSTITUTION,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime_new.csv,ROBBERY,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime_new.csv,LIQUOR LAW VIOLATION,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime_new.csv,KIDNAPPING,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime_new.csv,INTERFERENCE WITH PUBLIC OFFICER,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime_new.csv,GAMBLING,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime_new.csv,WEAPONS VIOLATION,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
