../data/input/featuresLocation.csv
../data/overlap/bars.csv,,,LATITUDE,LONGITUDE
../data/overlap/church.csv,,,"LAT","LONG"
../data/overlap/library.csv,,,LAT,LONG
../data/overlap/school.csv,,,Lat,Long
../data/overlap/police.csv,,,LATITUDE,LONGITUDE
../data/overlap/crime.csv,ARSON,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime.csv,ASSAULT,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime.csv,CRIM SEXUAL ASSAULT,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime.csv,HOMICIDE,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime.csv,OFFENSE INVOLVING CHILDREN,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime.csv,BURGLARY,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime.csv,CRIMINAL DAMAGE,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime.csv,CRIMINAL TRESPASS,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime.csv,MOTOR VEHICLE THEFT,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime.csv,NARCOTICS,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime.csv,PROSTITUTION,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime.csv,ROBBERY,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime.csv,LIQUOR LAW VIOLATION,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime.csv,KIDNAPPING,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime.csv,INTIMIDATION,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime.csv,INTERFERENCE WITH PUBLIC OFFICER,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime.csv,GAMBLING,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/crime.csv,DECEPTIVE PRACTICE,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
