../data/overlap/crime.csv,../data/input/homicide.csv,HOMICIDE,PRIMARY DESCRIPTION,LATITUDE,LONGITUDE
../data/overlap/bars.csv,../data/input/bars.csv,,,LATITUDE,LONGITUDE
../data/overlap/church.csv,../data/input/church.csv,,,"LAT","LONG"
../data/overlap/library.csv,../data/input/library.csv,,,LAT,LONG
../data/overlap/school.csv,../data/input/school.csv,,,Lat,Long
../data/overlap/police.csv,../data/input/police.csv,,,LATITUDE,LONGITUDE
